
@keyframes rubberBand {

    from {
        color: var(--secondary_color);
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        color: var(--secondary_color_lower);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }}

@keyframes always1 {

    from {

        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.1, 0.95, 1);
    }

    40% {
        transform: scale3d(0.99, 1.0, 1);
    }

    50% {

        transform: scale3d(1.05, 0.97, 1);
    } 

     65% {
        transform: scale3d(0.98, 1.04, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }}

@keyframes color-trans {
    from {
        color: var(--third_color);
    }
    20% {
        color: var(--anim0);
    }
    40% {
        color: var(--anim1);
    }
    60% {
        color: var(--anim2);
    }
    80% {
        color: var(--anim3);
    }
    to {
        color: var(--third_color);
    }}







/* fade in up animation  */

    @-webkit-keyframes fadeInUp {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 20%, 0);
          transform: translate3d(0, 20%, 0);
        }
      
        to {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      @keyframes fadeInUp {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 20%, 0);
          transform: translate3d(0, 20%, 0);
        }
      
        to {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      
      .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        
      }
/* fade in down  */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
   }
  @-webkit-keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -20%, 0);
      transform: translate3d(0, -20%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -20%, 0);
      transform: translate3d(0, -20%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  } 
  
/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      position: relative;
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
  }
  
  
  /*==== FADE IN RIGHT ===*/
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      position: relative;
      -webkit-transform: translate3d(20%, 0, 0);
      transform: translate3d(20%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
  }
  

  @media screen and (max-width: 768px) {



    @keyframes fadeInLeft {
      from {
        opacity: 0;
        position: relative;
        -webkit-transform: translate3d(-4%, 0, 0);
        transform: translate3d(-4%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    @keyframes fadeInRight {
      from {
        opacity: 0;
        position: relative;
        -webkit-transform: translate3d(4%, 0, 0);
        transform: translate3d(4%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
  }

