.footer{
    width: 100%;
    /* background-color: var(--primary_second_color); */
    height: 100px;
    display: flex;
    flex-direction: row;
    --underline-hight: 0.05em;
    margin-bottom: 63px;
}
.second p{
    font-family: monospace;
    color: var(--secondary_color);
    font-size: 30px;
}
.second{
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 19px;
    margin-left: 8%;
}
.footer_links{
    display: flex;
    flex-direction: column;
}
.first{
    display: flex;
    align-items: center;
}
.first svg{
    height: 28px;
    width: 40px;
    fill: var(--fourth_color);
}
.first svg:hover{
    fill: var(--secondary_color);
}

.madeby{
    text-align: center;
    /* padding-top: 23%; */
    padding: 32px;
    font-family: monospace;
}

.custom-shape-divider-bottom-1621504201 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -100;
}

.custom-shape-divider-bottom-1621504201 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 377px;
}

.custom-shape-divider-bottom-1621504201 .shape-fill {
    fill: var(--primary_second_color);
}
