@media screen and (max-width: 768px) {

    @keyframes color-trans {
        from {
            color: #263B5E;
        }
    
        10% {
            color: rgb(22, 22, 19);
        }
    
        20% {
            color: rgb(11, 24, 24);
        }
    
        30% {
            color: rgb(17, 26, 36);
        }
    
        40% {
            color: rgb(27, 23, 31);
        }
    
        50% {
            color: rgb(39, 5, 7);
        }
    
        60% {
            color: rgb(31, 12, 26);
        }
    
        70% {
            color: rgb(16, 26, 43);
        }
    
        80% {
            color: rgb(25, 29, 23);
        }
    
        90% {
            color: rgb(32, 32, 31);
        }
    
        to {
            color: #263B5E;
        }}


        body {
            /* font-family: 'Yusei Magic', sans-serif; */
            background-image: linear-gradient(to top, #ffffff, #f4f4f4, #eaeaea, #dfdfdf, #d5d5d5);
        max-height: 100%;
        
            color: #263B5E;
        }

}