* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root {
    --navbar-color-mobile: rgb(49, 47, 47);
  }
nav {
    z-index: 1;
    display: flex;
    position:fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    width: 100%;
    background-color: rgba(0,0,0,0.0);
}

.scroll-active{
    transition: background-color 1s ease-out;
    background-color: white;
    box-shadow: 0 3px 1rem rgba(0,0,0,0.1);
}
.scroll-active .navlinks a,.scroll-active .logo{
    transition: color 1s ease-out;
    color: black;
}
.scroll-active .sideview div{
    transition:background-color  1s ease-out;
    background-color: black;
}

.logo {
    color: white;
    letter-spacing: 0px;
    font-size: 24px;
}

.navlinks {
    font-family: 'Roboto Slab', serif;
    display: flex;
    color: white;
    justify-content: space-around;
    width: 30%;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.sideview {
    display: none;
    cursor: pointer;
}

.sideview div{
    width: 24px;
    height: 4px;
    margin: 4px;
    background-color: white;
    transition: all 0.4s ease;
    
}



@keyframes navlinkslide {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{

    transform: rotate(45deg) translate(-5px,-6px);
}



/* #effect ********************** */

.Hover-effect {
    position: relative;
}
:root{
    --underline_color: red;
    --underline-hight:0.175rem;
}
.Hover-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--underline-hight);
    background-color: var(--underline_color);
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.Hover-effect::after #Project-first {
    background-color: royalblue;
}
.active-container::after{
    transform: scale(1, 1);
}


.Hover-effect:hover::after {
    transform: scale(1, 1);
}

.container-front{
    display: flex;
    height: 750px;
}



@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .logo {
        color: white;
        letter-spacing: -5px;
        font-size: 24px;
    }
    nav {
        background-color:var(--navbar-color-mobile);
    }

    .navlinks {

        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        width: 50%;
        background-color: var(--navbar-color-mobile);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navlinks li {
        opacity: 0;
    }

    .sideview {
        
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%)
    }
    .scroll-active ul.navlinks{
        transition:background-color  1s ease-out;
        background-color: white;
    }

    .container-front {
        height: 644px;
    }
}
