body {
    font-family: 'Yusei Magic', sans-serif;
    background: url('796863.jpg');
background-repeat: no-repeat;
background-size: auto;
    color: white;
}
.welcome{
display: inline-block;
margin: 158px;
}
.rubberBand {
    display: inline-block;
    font-size: 68px;
    font-weight: bold;
    padding: 0px 0px;
    margin: -3px;
    cursor: default;
}
.logo-class{
    display: inline-block;
    cursor: default;
    font-weight: bold;
}
#logo-id-2,#logo-id-6,#logo-id-9{
    animation: always1 3s infinite 1s;
}
#logo-id-3,#logo-id-7{
    animation: always1 2s infinite 1s;
}
#logo-id-4,#logo-id-8{
    animation: always1 4s infinite 1s;
}
.logo #logo-id-1,.logo #logo-id-5{
    font-size: 35px;
    font-weight: bold;
    color: red;
    animation: rubberBand 1s 1,always1 5s infinite 1s;
}

@keyframes rubberBand {

    from {
        color: rgb(9, 64, 78);
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        color: rgb(62, 72, 216);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }}

@keyframes always1 {

    from {

        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.1, 0.85, 1);
    }

    40% {
        transform: scale3d(0.85, 1.1, 1);
    }

    50% {

        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }}

@keyframes color-trans {
    from {
        color: turquoise;
    }

    10% {
        color: rgb(115, 128, 0);
    }

    20% {
        color: rgb(0, 2, 128);
    }

    30% {
        color: rgb(0, 45, 128);
    }

    40% {
        color: rgb(60, 0, 128);
    }

    50% {
        color: rgb(230, 21, 143);
    }

    60% {
        color: rgb(4, 58, 58);
    }

    70% {
        color: rgb(65, 155, 23);
    }

    80% {
        color: teal;
    }

    90% {
        color: rgb(172, 125, 71);
    }

    to {
        color: turquoise;
    }}

    @media screen and (max-width: 768px) {
        .welcome{
            display: inline-block;
            margin: 35px;
            }
            .rubberBand {
                font-size: 68px;
                padding: 0px 0px;
                margin: -3px;
              
            }
            .image-language {
                height: 39px;
            }
            #see-my-work{
                margin: 10px 12px;
            }



    }