.follow {
    background: #ffffff;
}
div.follow{
    height: 300px;
}
.follow h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 4px;
    padding: 54px 0 100px;
    color: #555;
    text-align: center;
}

.social-media {
    background-color: white;
    display: flex;
    justify-content: center;
}

.social-media a {
    display: flex;
    background: e3edf7;
    height: 55px;
    width: 61px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0,0);
    transition: transform 0.5s ;
}

.social-media a i {
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

.social-media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px  rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(2px)
}

.social-media a:hover i {
    transform: scale(0.90);
}


.social-media a:hover .fa-facebook{
    color:#3b5998;
}
.social-media a:hover .fa-instagram{
    color:#f14843;
}
.social-media a:hover .fa-kaggle{
    color:#20beff;
}

@media screen and (max-width: 768px) {

    .follow-heading span{
        font-size: 30px;
    }

}
