.liquid-button{
    position: relative;
    padding: 15px 55px;
    display: block;
    margin-top: 37px;
    text-decoration: none;
    /* text-transform: uppercase; */
    width: 200px;
    overflow: hidden;
}
.liquid-button span{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 14px;
    letter-spacing: 5px;

}
.liquid-button .liquid{
    position: absolute;
    left: 0;
    top: -80px;
    width: 200px;
    height: 200px;
    background: red;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;
}
.liquid-button:hover .liquid ,.liquid-button .liquid:hover{
    top: -120px;
}
.liquid-button .liquid:before, a .liquid:after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%); 
}
.liquid-button .liquid:before{
    border-radius: 45%;
    background: #ffab9157;
    animation: animate-button 5s linear infinite;
}
.liquid-button .liquid:after{
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate-button 10s linear infinite;
}
@keyframes animate-button {
    0%{
        transform: translate(-50%,-75%) rotate(0deg); 
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg); 
    }
    
}