
.projects{
    background-color: white;
}
.Project-heading {

    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    padding: 136px 1px 56px;
    background-color: white;
}

.project-container {
    justify-content: space-evenly;
    background-color: white;
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    padding-bottom: 119px;
    flex-wrap: wrap;
}

.project-list {
    background-color: #e3edf7;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    border-radius: 3px;
    height: 405px;
    margin-bottom: 37px;
    width: 449px;
    box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 10px -1px, rgba(255, 255, 255, 0.7) -6px -6px 10px -1px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s ease 0s;
    cursor: pointer;
}
.project-list:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px  rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
transform: translateY(2px);
border: 1px solid rgba(0, 0, 0, 0.1);
}

.project-container img {
    height: 228px;
    width: 100%;
}

.project-container p {
    display: flex;
    justify-content: center;
    color: black;
}
.open-project{

width: 113px;
height: 31px;
}

#project-id-1:not(:hover),#project-id-4:not(:hover),#project-id-7:not(:hover){
    animation: rubberBand 1s 1 ,always1 3s infinite 1s;
}
#project-id-2:not(:hover),#project-id-6:not(:hover),#project-id-8:not(:hover){
    animation: rubberBand 1s 1 ,always1 3s infinite 1.4s;
}
#project-id-3:not(:hover),#project-id-5:not(:hover){
    animation: rubberBand 1s 1 ,always1 3s infinite 1.9s;
}
.project--{
    margin: 19px 2px;
    font-size: 54px;
}


@keyframes rubberBand {
    from {
        
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }}



#project-list-link{
    text-decoration: none;
}
/* #Progress bar ,,,,,,,,,,,,,,,,,,,,,,,,,, */


.language-used{
    padding: 8px 0px;
width: 91%;
}
.language-used h5{
    font-family: sans-serif;
    color: black;
    font-size: small;
    margin-bottom: 3px;
}
.language-used li svg{
    margin: 0px;
}
.language-used li  span{
    color: black;
    font-size: 15px;
}
.Progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    background-color: var(--color-auto-gray-2);
    border-radius: 6px;
    outline: 1px solid transparent;
    width: 360px;
}


@media screen and (max-width: 768px) {
    .project-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        } 
    .Project-heading {   
        padding:0%;
        background-color: white;
        margin-top: -1px;
        margin-bottom: 28px;
        }
    .project-list { 
       width: 338px;
    }
    .Progress{
        width: 295px;
    }
}
